/* Universal */

	body {
		background-image: url(images/bgmap.jpg);
	}
	
	.no-bg {
		background-image: none;
		background-color: #FBFBFB; 
	}
	
	a, a:link, a:visited {
		color: #A26F1B;
		font-family: "Miller Text";
		font-size: 20px;
		font-weight: bold;
		line-height: 31px;
	}

	img.rotatedimage {
		position: absolute;
		left: 50%;
		width: 400px;
		height: auto;
		margin-left: -200px; /* Half the width */
		transform: rotate(3deg);
		border: 20px solid white;
		border-radius: 2px;
		box-shadow: 3px 10px 10px 1px rgba(0,0,0,0.03), 3px 4px 16px 2px rgba(0,0,0,0.05), 3px 7px 7px 0 rgba(0,0,0,0.08);
	}

	.nrm-text {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}

	.nrm-text a {
		font-weight: normal;
	}

	/* Navigation */
	
		.navbar .navbar-collapse {
		 	text-align: center;
		 	background-color: #FFFFFF;
		}
		
		.navcustom {
			height: 60px;
			background-color: #FFFFFF;
			box-shadow: 0 4px 4px 1px rgba(0,0,0,0.03), 0 1px 6px 2px rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.04);
		}
		
		.navtext {
			color: #222222;
			font-family: "Miller Display";
			font-size: 16px;
			font-weight: 600;
			letter-spacing: 0.5px;
			line-height: 31px;
			text-align: center;
			margin-right: 10px;
		}

/* Index */
	
	.hometext {
	margin-top: 165px;
	}

	.homewelcome {
		color: #3C3C3C;
		font-family: Baskerville;
		font-size: 60px;
		font-weight: bold;
		letter-spacing: -1px;
		line-height: 68px;
		vertical-align: bottom;
	}
	
	.homemoretext {
		max-width: 82%;
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}
	
	.hometextexpand {
		color: #A26F1B;
		font-family: "Miller Text";
		font-size: 20px;
		font-weight: bold;
		line-height: 31px;
	}
	
	.home-image {
		margin-top: 50px;
	}

	.home-footer-buffer {
		height: 300px;
	}

/* About */

	.about_abt {
		margin-top: 90px; 
		color: #3C3C3C;
		font-family: Baskerville;
		font-size: 30px;
		font-weight: bold;
		line-height: 31px;
	}
	
	.about_txt {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}
	
	.about_image {
		margin-top: 90px;
	}
	
	.aboutImageBuffer {
		height: 600px;
	}
	
	.about_teamtitle {
		margin-top: 97px;
		color: #3C3C3C;
		font-family: Baskerville;
		font-size: 30px;
		font-weight: bold;
		line-height: 31px;
	}
	
	.about_teamlist1 {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}
	
	.about_teamlist1 a {
		font-weight: normal;
		text-decoration: underline;
	}

	.about-footer-buffer {
		height: 100px;
	}

/* Bio */

	.bioImageBuffer1 {
		height: 500px;
	}

	img.rotatedimage_landscape {
		width: 100%;
		transform: rotate(-1deg);
		border: 20px solid white;
		border-radius: 2px;
		box-shadow: 3px 10px 10px 1px rgba(0,0,0,0.03), 3px 4px 16px 2px rgba(0,0,0,0.05), 3px 7px 7px 0 rgba(0,0,0,0.08);
	}
	
	.bioImageBuffer2 {
		height: 1000px;
	}
	
	img.rotatedimage_bio {
		width: 90%;
		transform: rotate(-1.5deg);
		border: 20px solid white;
		border-radius: 2px;
		box-shadow: 3px 10px 10px 1px rgba(0,0,0,0.03), 3px 4px 16px 2px rgba(0,0,0,0.05), 3px 7px 7px 0 rgba(0,0,0,0.08);
	}
	
	.bio_image {
		margin-top: 120px;
	}

/* Projects */

	.has-search .form-control {
  		padding-left: 2.333rem;
	}

	.has-search .form-control-feedback {
		margin-left: 0.7rem;
		margin-top: 0.7rem;
	 	position: absolute;
	 	z-index: 2;
	 	display: block;
	 	width: 1rem;
	 	height: 1rem;
	 	text-align: center;
	 	pointer-events: none;
	 	color: #aaa;
	}

	.form-control {
		height: auto;
		border-radius: 0px;
	}

	.card-pro {
		margin-top: 30px;
		border: 0px;
	}

	.card-body-pro {
		background-color: #222222;
	}

	
	.card-title-pro {
		color: #FFFFFF;
		font-family: "Miller Text";
		font-size: 20px;
		font-weight: bold;
		line-height: 31px;
	}

	.card-text-pro {
		color: #FFFFFF;
		font-family: "Miller Text";
		font-size: 16px;
		line-height: 31px;
		font-weight: normal;
	}

	.card-link:hover .card-body-pro {
		text-decoration: none;
		background-color: #A26F1B;
	}

	.card-img-div {
		height: 250px;
		overflow: hidden;
	}

	.card-img-top {
		border-radius: 0px;
	}

	.landscape {
		height: 100%;
		width: auto;
	}

	.img-center {
		display: flex;
		justify-content: center;
    	align-items: center;
	}

	.img-baseline {
		align-items: baseline;
	}

	/* Each project */

		.project-title {
			color: #3C3C3C;
			font-family: "Miller Display";
			font-size: 28px;
			font-weight: 600;
			letter-spacing: 3px;
			line-height: 31px;
			text-align: center;
		}

		.project-subtitle {
			color: #3C3C3C;
			font-family: "Miller Display";
			font-size: 22px;
			font-style: italic;
			font-weight: 600;
			letter-spacing: 0.5px;
			line-height: 31px;
			text-align: center;
		}

		.drop-cap:first-letter {
			color: #3C3C3C;
			font-family: "Miller Text";
			font-size: 60px;
			font-weight: bold;
			line-height: 31px;
			float: left;
			padding-top: 14px;
			padding-right: 5px;
		}

		.text-indent {
			text-indent: 30px;
		}

		.project-content p {
			margin-bottom: 0px;
		}


		.blue-info {
			border-bottom: 2px dashed #0055FF;
			white-space: nowrap;
		}
	
		.blue-info:hover {
			color: #0055FF !important;
		}

		.blue-info:focus {
			color: #0055FF !important;
		}

		.purple-info {
			border-bottom: 2px dashed #BD10E0;
			white-space: nowrap;
		}

		.purple-info:hover {
			color: #BD10E0 !important;
		}

		.purple-info:focus {
			color: #BD10E0 !important;
		}

		.popover {
			background-color: #FFFFFF;
			border-width: 1px;
			border-color: #E5E5E5;
			max-width: 258px;
			height: auto;
			border-radius: 0px;
			box-shadow: 0 4px 16px 2px rgba(0,0,0,0.05), 0 10px 30px 0 rgba(0,0,0,0.12);
		}

		.tooltip-inner {
			border-width: 1px;
			border-color: #E5E5E5;
		}

		.popover-body {
			margin-top: 7px;
			margin-bottom: 7px;
			margin-left: 7px;
			margin-right: 7px;
			color: #3C3C3C;
			font-family: "Miller Text";
			font-size: 14px;
			line-height: 19px;
		}
		
		

	

/* Chronology */

	.itemHeader {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}
	
	.itemHeader:hover {
		text-decoration: none;
	}
	
	.card-header {
		background-color: #FBFBFB;
		border-bottom: none;
	}
	
	.card {
		background-color: #FBFBFB;
		border-right: none;
		border-left: none;  
	}
	
	img.listImage {
		width: 100%;
		border-radius: 2px;
		box-shadow: 0 4px 4px 1px rgba(0,0,0,0.03), 0 1px 6px 2px rgba(0,0,0,0.05), 0 2px 2px 0 rgba(0,0,0,0.04);
	}

	.chronology-footer-buffer {
		height: 150px;
	}

/* Bib */

	.list-head {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 16px;
		font-weight: bold;
		line-height: 31px;
	}
	
	.list-group a {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 16px;
		font-weight: bold;
		line-height: 31px;
		text-decoration: none;
		opacity: 0.5;
	}
	
	.list-group-item.active {
		background-color: transparent;
		color: #3C3C3C;
		border-color: transparent;
		opacity: 1;
	}
	
	.list-group-item.active .underline {
		border-bottom: 2px solid #A26F1B;;
	}
	
	.list-group-item .underline {
		border-bottom: 2px solid transparent;
	}
	
	.list-group-item {
		margin-left: 0px;
		background-color: transparent;
		color: #3C3C3C;
		border-color: transparent;
		padding: 0.7rem 0.9rem;
	}
	
	.list-group-item-action {
		width: auto;
	}
	
	.list-content {
		color: #3C3C3C;
		font-family: "Miller Text";
		font-size: 20px;
		line-height: 31px;
	}

/* Footer */

	.footer {
		bottom: 0;
		width: auto;
		left: 0;
		right: 0;
		height: 60px;
		background-color: #222222;
		margin-left: 0px;
		margin-right: 0px;
	}
	
	.footer-bump {
		margin-bottom: -10px;
		height: 51px;
		width: 220px;
		border-radius: 4px;
		background-color: #222222;
		color: #ABACAD;
	}
	
	.footer-logo {
		width: 100%;
	}

	.footer {
		height: auto;
		color: #ABACAD;
		font-family: "Miller Text";
		font-size: 11px;
		letter-spacing: 0.2px;
		line-height: 16px;
		text-align: center;
	}

/* Bootstrap custom extension */

	/* Custom padding class */

		@media (min-width: 768px) {
			.pt-md-10,
			.py-md-10 {
			  padding-top: 9rem !important;
			}
		
			.pr-md-10,
			.px-md-10 {
			  padding-right: 9rem !important;
			}
		
			.pb-md-10,
			.py-md-10 {
			  padding-bottom: 9rem !important;
			}
		
			.pl-md-10,
			.px-md-10 {
			  padding-left: 7.6rem !important;
			}
		}